<div id="lt-routine-quiz" data-section-id="{{ section.id }}" data-section-type="lt-routine-quiz"></div>

{% schema %}
{
  "name": "Routine Quiz",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [{ "name": "Routine Quiz" }]
}
{% endschema %}
